body {
    max-width: 520px;
    margin: 1em auto;
    font-size: 16px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

legend {
    font-weight: bold;
}

label {
    display: block;
    margin: .5em;
}

    label span {
        display: inline-block;
        width: 150px;
    }

    label input {
        width: 300px;
        font: inherit;
    }

    button {
        background-color: dodgerblue;
        color: white;
        margin: 1em 0;
    }

    button:disabled {
        opacity: .2;
    }

pre {
    white-space: pre-wrap;
}

footer {
    margin-top: 3em;
    text-align: center;
}
